<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>benvelie.com</title>
</head>

<body>
    <div>
        <h1>Welcome to benvelie.com!</h1>
        <img src="{{ url_for('static', filename='images/me.jpg') }}" alt="me!">
        <p>
            Hi! My name is Benjamin Velie. I'm a software engineer at Google. I also like making silly web toys.
            You can contact me by emailing <a href="mailto:veliebm@gmail.com">veliebm@gmail.com</a>.
        </p>
        <h2>Toys</h2>
        <ul>
            <li><a href="/squeaker">squeak</a></li>
        </ul>
    </div>
</body>

</html>